body {
    font-family: 'Aboreto', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom, #000000, #292929, #4e4e4e, #777676, #a2a1a1);
    background-attachment: fixed;
    background-size: cover;
  }
  
  .container {
    max-width: 1300px;
    margin: 0 auto; 
  }
  
  .form {
    margin: 100px auto;
    max-width: 400px;
    padding: 20px; 
  }
  
  input {
    outline: none;
    border: none; 
  }
  
  .title {
    font-size: 25px;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
  }

  .user__info {
    display: flex;
    margin-bottom: 20px;
  }

  .user__info-img {
    border-radius: 20px;
  }
  
  .input__form {
    margin: 10px 0;
    padding: 20px;
    width: 100%;
    border-radius: 10px;
  }
  
  .form_input:focus {
    background-color: #ddd;
    outline: none;
  }

  .description {
    max-width: 600px;
    padding-left: 50px;
    color: #ddd;
    line-height: 60px;
    font-size: 30px;
  }
 
  .button {
    margin: 0 auto;
    width: 160px;
    padding: 10px 15px;
    margin: 20px 0;
    border-radius: 10px;
    background-color: #1e1e1e;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    position: absolute;
    left: 46%;
  }
  
  .button:hover {
    background-color: #0b0b0b;
  }

 .preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-image: linear-gradient(to bottom, #000000, #3b3b3b, #777777, #b9b9b9, #ffffff);
    z-index: 1001;
    color: rgb(255, 255, 255);
}

.preloader__image {
    position: relative;
    top: 50%;
    left: 50%;  
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 3s infinite linear;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

.loaded_hiding .preloader {
  transition: 5s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}